:root{
  --headerHeight:50px;
}
html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#header{
  height:var(--headerHeight);
  padding: 10px;
  background-color:lavender;
}

#menuIcon {
  display: flex;
  height: 100%;
  flex-wrap:no-wrap;
  width:fit-content;
}
#menuIcon:hover{
cursor: pointer;
}
/* the menu bars within the menu Icon*/
.bar {
  display: block;
  width: 30%;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #E6E6FA;
  color: #333333;
  text-align: middle;
  transition: 0.5s;
}

.bar::after {
  content: '\2630';
  font-weight: bold;
  display: flex;
  align-items: center;
  transform: scale(1.5);
}

.closebtn::after {
  content: '\2715';
  font-weight: bold;
  display: flex;
  align-items: center;
  transform: scale(1.5);
}

#CanvasParent{
  width:100%;
  z-index:1;
  height: calc(100vh - var(--headerHeight));
}

/* the contents of the menu */
#menu{
  position: absolute;
  white-space: nowrap;
  box-sizing: border-box;
  transition: width 0.75s;
  z-index:2;
  min-height: calc(100vh - var(--headerHeight));
  width:0px;
  overflow-x: hidden;
}

.transparent {
  background-color: rgb(240, 248, 255, 0.8);
}

.margin {
  margin-left: 1.5%;
}

.option {
  border-color:#86e1f3;
  background: #57d8f1;
  position: static;
  left: 50%;
  margin-top: 2%;
  margin-left: 1.8%;
  display: inline-block;
  width: 100px;
  height: 25px;
  text-align: center;
}

.option:hover {
  border-color: #4cdaf7;
  background: #24d4f7;
}

.resetBtn {
  border: none;
  background: #f17e97;
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  right: 16px;
  top: 8px;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  color: #333333;
  text-align: middle;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.resetBtn:hover {
  border-color: #f57994;
  background: #f3587a;
}

/* the toggle indicator for the two modes */
.switch {
  position: relative;
  display: flex;
  margin: 0 auto;
  bottom: 32px;
  width: 80px;
  height: 34px;
  font-weight: 600;
  font-size: 14px;
}

.switch input {
  opacity: 0; width: 0; height: 0;
}

.slider {
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  top: 0; left: 0; right: 0; bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  background-color: #72e730;
  position: absolute;
  border-radius: 4px;
  content: "";
  height: 28px;
  width: 36px;
  left: 4px;
  bottom: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

label::before {
  content: "Road Editing";
  margin-left: -70px;
  line-height: 16px;
}

label::after {
  content: "Begin Simulation";
  margin-left: 122px;
  line-height: 16px;
}

div.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Enables messages to pop up and fade away; .err (error); .note (normal msg) */
.err { color: #d84187; }
.note { color: #329b2e; }

.msg {
  left: 65px;
  top: 15px;
  opacity: 0;
  transition: 1s;
  float: left;
  position: absolute;
  font-size: 12px;
}

.msg.fade-in {
  opacity: 1;
  transition: 1s;
}

.msg.hide {
  display: none;
  user-select: none;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.btn-container .btn.btn-link {
  text-align: left;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: background-color cubic-bezier(.25,.8,.25,1) 150ms;
}

.btn-container .btn.btn-link:hover {
  background-color: #E6E6FA;
}

/* Timer CSS */
.timer {
  position: absolute;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  right: 93px;
  top: 14px;
  min-width: 50px;
}

.timer-dot {
  position: absolute;
  right: 150px;
  top: 18px;
}

.timer-dot #dot-circle {
  opacity: 0;
  transition: opacity ease-in-out 700ms;
}

.timer-dot #dot-circle.show {
  opacity: 1;
}

#applyBtn {
  border: none;
  background: #f17e97;
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  right: 16px;
  bottom: 6px;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  color: #333333;
  text-align: middle;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#applyBtn:hover {
  border-color: #f57994;
  background: #f3587a;
}